<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="35.6.2" targetFramework="net48" />
  <package id="Font.Awesome" version="5.15.4" targetFramework="net48" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.6.0" targetFramework="net48" />
  <package id="Google.Apis" version="1.69.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.69.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.69.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.69.0.3740" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="ReaLTaiizor" version="3.8.1.2" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.4" targetFramework="net48" />
</packages>